<div id="demo">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">

            <thead>
            <tr>
                <th id="checkbox_caption" style="width: 100px;">Choose</th>
                <th>Type</th>
                <th>Number</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                    {% if current_user.main_phone %}
                        <td id="checkboxes" {% if not current_user.main_phone_confirmed  %}class="unconfirmed_phone{% endif %}">
                            <input type="checkbox" class="filled-in" name="phone" id="phone1" value="{{ current_user.main_phone.international }}"/>
                            <label for="phone1"></label>
                        </td>
                        <td style="width: 100px;" {% if not current_user.main_phone_confirmed  %}class="unconfirmed_phone{% endif %}">Main</td>
                        <td {% if not current_user.main_phone_confirmed  %}class="unconfirmed_phone{% endif %}">{{ current_user.main_phone.international }}</td>
                        <td {% if not current_user.main_phone_confirmed  %}class="unconfirmed_phone{% endif %}">
                            {% if current_user.main_phone_confirmed %}
                                Confirmed
                            {% else %}
                                Unconfirmed
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if current_user.extra_phone %}
                        <td id="checkboxes" {% if not current_user.extra_phone_confirmed  %}class="unconfirmed_phone{% endif %}">
                            <input type="checkbox" class="filled-in" name="phone" id="phone2" value="{{ current_user.extra_phone.international }}"/>
                            <label for="phone2"></label>
                        </td>
                        <td style="width: 100px;" {% if not current_user.extra_phone_confirmed  %}class="unconfirmed_phone{% endif %}">Extra</td>
                        <td {% if not current_user.extra_phone_confirmed  %}class="unconfirmed_phone{% endif %}">{{ current_user.extra_phone.international }}</td>

                        <td {% if not current_user.extra_phone_confirmed  %}class="unconfirmed_phone{% endif %}">
                            {% if current_user.extra_phone_confirmed %}
                                Confirmed
                            {% else %}
                                Unconfirmed
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>