{% extends 'Base.html' %}

{% block title %}{{ customer.name }}{% endblock %}
{% block body %}
{% include 'nav.html' %}

    <div class="container">
        <div class="section">
            <div class="s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            {% if customer.photo is none %}
                                <div class="col s4">
                                    <img class="circle responsive-img profile-img z-depth-1"
                                         src="https://goo.gl/WrdnWG" alt="Face">
                                </div>
                            {% else %}
                                <div class="col s4"><img class="circle responsive-img profile-img z-depth-1"
                                                         src="{{ url_for('static', filename='')}}" alt="Face">
                                </div>
                            {% endif %}
                            <div class="col s6 offset-s2">
                            <span class="card-title grey-text text-darken-4 activator">{{ customer.name }}
                                <i class="material-icons right">more_vert</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <p>
                        <h4 class="card-title grey-text text-darken-4">{{ customer.name }}
                            <i class="mdi-navigation-close right">
                            </i></h4>
                        </p>

                        {% if customer.phone is not none %}
                            <p><i class="material-icons">contact_phone</i>{{ customer.phone }}</p>
                        {% endif %}

                        <p><i class="material-icons">email</i>{{ customer.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel teal"><p>Activity Time start: tommorow 9pm</p></div>
                <div class="card-panel">
                    <p>Activity</p>
                    <p>Status: done <br> Rate: 9/10 <br>Comment: done in time </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}