.error {
    color: #f06292;
}

.profile-img{
    margin-top: 10px;
    position: relative;
    margin-left: 35px;
}

.profile-tabs {
    margin-top: 22px;
}
.btn-def {
    background-color: #757575 !important;
    color: #f5f5f5 !important;
}
nav {
    background-color: #37474f;
}
.unconfirmed {
    background-color: #d50000
}
.confirmed {
    background-color: #00c853
}
.g-recaptcha div { margin: auto}

.search-pos{
    margin-top: -34px;
    padding: 0;
}
.search-pos > nav {
    box-shadow: none !important;
}
.search-btn {
    width: 100px;
    height: 64px;;
    text-transform: uppercase;
    background-color: #37474f;
    padding: 0;
    line-height: 64px !important;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    border: 0;
    -webkit-transition: background-color 0.3s;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: background-color 0.3s;
    box-shadow: none !important;
}
.search-btn:hover {
  background-color: #37474f;
}
.parallax-container {
    height: 375px;
}
.input-field input[type=search]:focus ~ a {
    background-color: #FFFFFF;
    color: #37474f;
}
.input-field input[type=search]:focus {
    border-bottom: none !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
.input-field button:focus {
    outline: none;
    background-color: #37474f;
}
.get-started {
    margin-top: 161px;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-footer, .page-wrap:after {
  height: 250px;
}
@media screen and (max-width: 992px){
    .page-footer, .page-wrap:after {
        height: 350px;
    }
}
@media screen and (min-width: 993px){
    .page-footer, .page-wrap:after {
        height: 250px;
    }
}
.page-footer {
  background-color: #37474f !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid rgb(117, 117, 117) !important;
    box-shadow: 0 1px 0 0 #757575 !important;
}
.input-field label {
 color: #757575 !important;
}
.input-field input:focus {
 color: #757575 !important;
    border-bottom: 1px solid rgb(117, 117, 117) !important;
    box-shadow: 0 1px 0 0 #757575 !important;
}
li.selected > span {
    color: #757575 !important;
}
li > span {
    color: #757575 !important;;
}

.c-s-selector {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.c-s-selector .input-field {
    padding: 0 20px 10px 20px;
}

.c-s-selector .list {
    margin-top: -15px;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: 286px;
}

.c-s-selector .collection {
    margin: 0;
}

.input-field label {
    color: #37474f;
}

.input-field input:focus + label {
    color: #000;
}

.input-field input:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}
.input-field input.valid {
    border-bottom: 2px solid #00c853;
    box-shadow: 0 2px 0 0 #00c853;
}

.input-field input.invalid {
    border-bottom: 2px solid #f50057;
    box-shadow: 0 2px 0 0 #f50057;
}

.input-field .prefix.active {
 color: #000;
}

.input-field textarea.valid {
    border-bottom: 2px solid #00c853;
    box-shadow: 0 2px 0 0 #00c853;
}

.input-field textarea.invalid {
    border-bottom: 2px solid #f50057;
    box-shadow: 0 2px 0 0 #f50057;
}

.with-header {
    margin-top: 0;
}
.cursor {
    cursor:pointer;
}