.error {
    color: #f06292;
}

.profile-img{
    margin-top: 10px;
    position: relative;
    margin-left: 35px;
}

.profile-tabs {
    margin-top: 22px;
}
.btn-def {
    background-color: #757575 !important;
    color: #f5f5f5 !important;
}
nav {
    background-color: #37474f;
}
.unconfirmed {
    background-color: #d50000
}
.confirmed {
    background-color: #00c853
}
.g-recaptcha div { margin: auto}

.search-pos{
    margin-top: -34px;
    padding: 0;
}
.search-pos > nav {
    box-shadow: none !important;
}
.search-btn {
    width: 100px;
    height: 64px;;
    text-transform: uppercase;
    background-color: #37474f;
    padding: 0;
    line-height: 64px !important;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    border: 0;
    -webkit-transition: background-color 0.3s;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: background-color 0.3s;
    box-shadow: none !important;
}
.search-btn:hover {
    background-color: #37474f;
}
.parallax-container {
    height: 375px;
}
.input-field input[type=search]:focus ~ a {
    background-color: #FFFFFF;
    color: #37474f;
}
.input-field input[type=search]:focus {
    border-bottom: none !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
.input-field button:focus {
    outline: none;
    background-color: #37474f;
}
.get-started {
    background-color: #5D91FF !important;
    margin-top: 161px;
}

.page-footer {
    background-color: #37474f !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid rgb(117, 117, 117) !important;
    box-shadow: 0 1px 0 0 #757575 !important;
}
.input-field label {
    color: #757575 !important;
}
.input-field input:focus {
    color: #757575 !important;
    border-bottom: 1px solid rgb(117, 117, 117) !important;
    box-shadow: 0 1px 0 0 #757575 !important;
}
li.selected > span {
    color: #757575 !important;
}
li > span {
    color: #757575 !important;;
}

.c-s-selector {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.c-s-selector .input-field {
    padding: 0 20px 10px 20px;
}

.c-s-selector .list {
    margin-top: -15px;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: 286px;
}

.c-s-selector .collection {
    margin: 0;
}

.input-field label {
    color: #37474f;
}

.input-field input:focus + label {
    color: #000;
}

.input-field input:focus {
    border-bottom: 1px solid #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}
.input-field input.valid {
    border-bottom: 2px solid #00c853;
    box-shadow: 0 2px 0 0 #00c853;
}

.input-field input.invalid {
    border-bottom: 2px solid #f50057;
    box-shadow: 0 2px 0 0 #f50057;
}

.input-field .prefix.active {
    color: #000;
}

.input-field textarea.valid {
    border-bottom: 2px solid #00c853;
    box-shadow: 0 2px 0 0 #00c853;
}

.input-field textarea.invalid {
    border-bottom: 2px solid #f50057;
    box-shadow: 0 2px 0 0 #f50057;
}

.with-header {
    margin-top: 0;
}

.cursor {
    cursor: pointer;
}

.main-input-suggestions .collection-item {
    color: #37474f !important;
}

.specialist-card .card-title {
    cursor: pointer;
}

.specialist-card img {
    width: 80px;
    cursor: pointer;
}

.search-title {
    font-size: 45px;
}

.divider {
    margin: 3px;
}

.user-card-btn {
    height: 33px;
    width: 78px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
    margin-top: 5px;
}

a {
    cursor: pointer;
}
/*----------------------------------------
    Pre Loader
------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}
#loader-logo {
    display: block;
    position: absolute;
    left: 48%;
    top: 46%;
    background: url(#) no-repeat center center;
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */

        -ms-transform: rotate(0deg);
        /* IE 9 */

        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */

        -ms-transform: rotate(360deg);
        /* IE 9 */

        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */

        -ms-transform: rotate(0deg);
        /* IE 9 */

        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */

        -ms-transform: rotate(360deg);
        /* IE 9 */

        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    filter:blur(1px);
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: translateX(0);
    /* IE 9 */

    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: translateX(-100%);
    /* IE 9 */

    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: translateX(100%);
    /* IE 9 */

    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */

    -ms-transform: translateY(-100%);
    /* IE 9 */

    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}
.progress{
    background-color: rgba(255, 64, 129, 0.22);
}


.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}
#profile-page-header .card-image {
    height: 250px;
}

#profile-page-header .card-content {
    margin-top: -40px;
}

.card-content > .row {
    margin-bottom: 0;
}

#profile-dropdown > li {
    min-height: 1px !important;
    max-height: 42px !important;
}

* {margin:0;padding:0;}
html, body {height: 100%;}
.main {min-height: 100%;}

#wrapper {
  overflow:auto;
  padding-bottom: 50px; /* must be same height as the footer */
}

footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
}