.collapsible-header {
    padding: 22px;
    height: 90px;
    font-size: large;
}

.selected-service {
    margin-left: 5px;
    display: inline;
}

.services-title {
    padding: 10px;
    margin: 0;
}

.chip-status-0 {
    background-color: #66bb6a;
}

.chip-status-1, .chip-status-2, .chip-status-4 {
    background-color: #ef5350;
}

.chip-status-3 {
    background-color: #42a5f5;
}

.chip-status-5 {
    background-color: #ede7f6;
}