.collapsible-header {
    padding: 22px;
    height: 90px;
    font-size: 30px;
    font-weight: 300;
}

.selected-service {
    margin-left: 5px;
    display: inline;
}

.services-title {
    padding: 10px;
    margin: 0;
}

.chip-status-4 {
    background-color: #66bb6a;
}

.chip-status-2, .chip-status-3, .chip-status-5 {
    background-color: #ef5350;
}

.chip-status-1 {
    background-color: #42a5f5;
}

.chip-status-0 {
    background-color: #ede7f6;
}

.service-tag {
    font-weight: 400;
    background-color: #37474f;
    color: #ffffff;
    margin-top: 5px;
}

.add-services-btn {
    margin-top: 10px;
}

#specialist_form {
	width: 900px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#specialist_form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;

	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#specialist_form fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#specialist_form input, #specialist_form textarea {
	padding: 15px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#specialist_form .action-button {
	width: 100px;
	background: #37474F;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #37474F;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #37474F;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 13px;
	color: #333;
	background: white;
	border-radius: 10px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #37474F;
	color: white;
}

#progressbar li.invalid:before,  #progressbar li.invalid:after{
	background: #e57373 ;
	color: white;
}



