{% extends "Base.html" %}
{% block body %}
    <div class="row">
        <div class="col s12 m4 l8 offset-l2">
            <div class="card">
                <form method="post" id="email_form">
                    {{ email_form.csrf_token }}
                    <div class="input-field">
                        {{ email_form.recovery_email(id="recovery_email") }}
                        <label for="recovery_email">Email</label>
                        <div id="error_recovery_email" class="error"></div>
                    </div>
                    <a id="send_email_to_password_recover" class="waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">Send an email</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/recoveryPage.js') }}"></script>
    <script>
        recoveryPageInit();
    </script>
{% endblock %}