{% extends 'Base.html' %}

{% block title %}{{ company.name }}{% endblock %}
{% block body %}
    {% include 'nav.html' %}

    <div class="container">
        <div class="section">
            <div class="s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            {% if company.logo is none %}
                                <div class="col s4">
                                    <img class="circle responsive-img profile-img z-depth-1"
                                         src="https://goo.gl/WrdnWG" alt="Face">
                                </div>
                            {% else %}
                                <div class="col s4"><img class="circle responsive-img profile-img z-depth-1"
                                                         src="{{ url_for('static', filename='logos/') }}{{ company.logo }}" alt="Face">
                                </div>
                            {% endif %}
                            <div class="col s6 offset-s2">
                            <span class="card-title grey-text text-darken-4 activator">{{ company.name }}
                                <i class="material-icons right">more_vert</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <p>
                        <h4 class="card-title grey-text text-darken-4">{{ company.name }}
                            <i class="mdi-navigation-close right">
                            </i>
                        </h4>
                        </p>
                        <p>Manager:</p>
                        <p>Phone:</p>
                        <p>Location:</p>
                        <p>etc.</p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <ul class="collection">
                    {% for spec in specialist %}
                    <li class="collection-item avatar">
                        <img src="{{ url_for('static', filename='photos/') }}{{ spec.photo }}" alt="" class="circle">
                        <a href="{{ url_for('specialist_profile', specialist_id=spec.id) }}">
                            <span class="title">{{ spec.name }}</span>
                        </a>
                        <p>
                        {% for s in spec.services %}
                            {{ s.title }} <br>
                        {% endfor %}
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}