<li class="collection-item dismissable">
    <a href="{{ url_for('offer', id=activity.id) }}"
       class="btn-floating waves-effect waves-light light-blue right small" style="width: 27px;height: 27px;">
        <i class="material-icons tiny" style="margin-top: -4px;">{{ _("info") }}</i></a>
    {% if activity.end  %}
        <span>{{ _("Start") }}: {{ activity.start | time }} | {{ _("End") }}: {{ activity.end | time }}</span>
    {% else %}
        <span>{{ _("Start") }}: {{ activity.start | time }}</span>
    {% endif %}
    <div class="description">
        <span class="description-text">{{ _("Description") }}: {{ activity.description }}</span>
    </div>
    <span class="task-cat activity-cat">{{ activity.service.title }}</span>
    <span class="right">
        {% if activity.confirmed %}
            <i class="material-icons tooltipped confirmed"
               data-position="left" data-delay="50" data-tooltip="{{ _("Confirmed") }}">event_available</i>
        {% else %}
            <i class="material-icons tooltipped unconfirmed"
               data-position="left" data-delay="50" data-tooltip="{{ _("Unconfirmed") }}">event_busy</i>
        {% endif %}
    </span>
</li>