<div id="add_service_modal" class="modal modal-fixed-footer">
    <div class="modal-title">
        <h5>Add service you offer</h5>
    </div>
    <form id="add_service_form" method="POST">
        <div class="modal-content">
            {{ ser_form.csrf_token }}
            <div class="input-field">
                {{ ser_form.title(id="service_title") }}
                <label for="service_title">Service name</label>
                <div id="error_service_title" class="error"></div>
            </div>
            <div class="input-field">
                {{ ser_form.domain(id="service_domain") }}
                <label for="service_domain">Domain of service</label>
                <div id="error_service_domain" class="error"></div>
            </div>
            <div class="input-field">
                {{ ser_form.description(id="service_description", class="materialize-textarea") }}
                <label for="service_description">Description of service (optional)</label>
                <div id="error_service_description" class="error"></div>
            </div>
        </div>

        <div class="modal-footer">
            <a id="service_submit" class="waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">Create</a>
        </div>
    </form>
</div>