<div class="card-panel">
    <div class="card-title">
        <p class="center-align flow-text">Order service at {{ user.full_name() }}</p>
    </div>
    <form method="POST">
        <div class="card-content">
            {{ form.csrf_token }}
            <div class="input-field">
                {{ form.service(id="service_activity_services") }}
                <label for="service_activity_services">Select service</label>
                <div id="error_service_activity_services" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.description(id="service_activity_description", class="materialize-textarea") }}
                <label for="description">Description of service</label>
                <div id="error_service_activity_description" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.start(id="service_activity_start", type='text') }}
                <label for="service_activity_start">Start of service</label>
                <div id="error_service_activity_start" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.end(id="service_activity_end", type='text') }}
                <label for="service_activity_end">End of service (optional)</label>
                <div id="error_service_activity_end" class="error"></div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
            <div class="center-align">
                <a id="service_activity_submit" class="waves-effect waves-light btn btn-def"><i class="material-icons left">send</i>Send request</a>
            </div>
        {% else %}
            <p class="center-align">You need
                <a href="{{ url_for('login') }}" class="waves-effect waves-light btn btn-def">Log in</a> or
                <a href="{{ url_for('sign_up') }}" class="waves-effect waves-light btn btn-def">Sign Up</a> to order services
            </p>
        {% endif %}
    </form>
</div>