<div id="add_service_activity_modal" class="modal modal-fixed-footer">
    <div class="modal-title">
        <h5>Order service at {{ user.full_name() }}</h5>
    </div>
    <form method="POST">
        <div class="modal-content">
            {{ form.csrf_token }}
            <div class="input-field">
                {{ form.service(id="service_activity_services") }}
                <label for="service_activity_services">Select service</label>
                <div id="error_service_activity_services" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.description(id="service_activity_description", class="materialize-textarea") }}
                <label for="description">Description of service (optional)</label>
                <div id="error_service_activity_description" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.start(id="service_activity_start", type='text') }}
                <label for="service_activity_start">Start of service</label>
                <div id="error_service_activity_start" class="error"></div>
            </div>
            <div class="input-field">
                {{ form.end(id="service_activity_end", type='text') }}
                <label for="service_activity_end">End of service (optional)</label>
                <div id="error_service_activity_end" class="error"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="service_activity_submit" class="waves-effect waves-light btn btn-def">Add</a>
        </div>
    </form>
</div>