<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css"
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
          media="screen,projection"/>
    <link href="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/Base.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}{% endblock %}
</head>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body>
    {% include 'nav.html' %}
    {% block body %}{% endblock %}
</body>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lodash.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script>
    $(".button-collapse").sideNav();
</script>
{% block script %}{% endblock %}

</html>