<nav style="background-color: #37474f">
    <div class="nav-wrapper">
        <a href="{{ url_for('index') }}" style="margin-left: 20px;" class="brand-logo">Specialist</a>
        <a href="#" style="margin-left: 5px; " data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons" style="color: #444">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>