{% extends "Base.html" %}


{% block body %}
    <div class="container">
        <form method="POST">
            <div class="radio">
                <p>
                <input class="with-gap choice" name="account_type" type="radio"  value="specialist"
                       id="spec">
                <label for="spec">Specialist</label>
            </p>
            </div>
            <div class="radio">
                <p>
                    <input class="with-gap choice" name="account_type" type="radio"  value="customer"
                           id="cust">
                    <label for="cust">Customer</label>
                </p>
            </div>
        </form>
        <div class="place_for_unused_form">
            <div class="specialist-form">
            <div class="panel-title">
                <center><h3>Sign up as specialist</h3></center>
            </div>
                {{ spec_form.csrf_token }}
                <div class="form-group">
                    {{ spec_form.username(placeholder="Username") }}
                    <div id="error_username" class="error"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.first_name(placeholder="First name") }}
                    <div id="error_first_name" class="error"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.last_name(placeholder="Last name") }}
                    <div id="error_last_name" class="error"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.password(placeholder="Password", id="pass") }}
                    <div id="error_password" class="error"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.confirm_password(placeholder="Confirm password", id="conf_pass") }}
                    <div id="error_confirm_password" class="error"></div>
                    <div id="confirmMessage" class="confirmMessage"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.email(placeholder="Enter your email") }}
                    <div id="error_email" class="error"></div>
                </div>
                <div class="form-group">
                    {{ spec_form.phone(placeholder="Enter your tel. number") }}
                    <div id="error_phone" class="error"></div>
                </div>
                 <div class="form-group">
                    {{ spec_form.experience(placeholder="Enter your experience(in years)") }}
                     <div id="error_experience" class="error"></div>
                 </div>
                <div class="form-group">
                    <div class="input-field" style="margin-top: 0px;">
                    {{ spec_form.description(placeholder="Describe yourselves", id="textarea1", class="materialize-textarea", length="750") }}
                    <div id="error_description" class="error"></div>
                    </div>
                </div>
                <div class="input-field">
                    <select multiple name="services">
                        <option value="" disabled selected>Services</option>
                        {% for service in services %}
                            <option value="{{ service.id }}">{{ service.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <center><button class="form-submit btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button></center>
    </div>
    <div class="customer-form">
        <div class="panel-title">
            <center><h3>Sign up as customer</h3></center>
        </div>
            {{ cust_form.csrf_token }}
            <div class="form-group">
                {{ cust_form.username(placeholder="Username") }}
                <div id="error_username" class="error"></div>
            </div>
            <div class="form-group">
                {{ cust_form.first_name(placeholder="First name") }}
                <div id="error_first_name" class="error"></div>
            </div>
            <div class="form-group">
                {{ cust_form.last_name(placeholder="Last name") }}
                <div id="error_last_name" class="error"></div>
            </div>
            <div class="form-group">
                {{ cust_form.password(placeholder="Password", id="pass") }}
                <div id="error_password" class="error"></div>
            </div>
            <div class="form-group">
                {{ cust_form.confirm_password(placeholder="Confirm password", id="conf_pass") }}
                <div id="error_confirm_password" class="error"></div>
                <div id="confirmMessage" class="confirmMessage"></div>
            </div>
            <div class="form-group">
                {{ cust_form.email(placeholder="Enter your email") }}
                <div id="error_email" class="error"></div>
            </div>
            <div class="form-group">
                {{ cust_form.phone(placeholder="Enter your tel. number") }}
                <div id="error_phone" class="error"></div>
            </div>
            <center><button class="form-submit btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button></center>
    </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}


