{% extends "Base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/order_service_modal.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <p class="flow-text search-title center">
        All specialists who offer <strong>{{ current_service.title|capitalize }}</strong>
    </p>
    <p class="flow-text center">Found {{ specialists_count }} specialists.</p>
    <div class="section">
        <div id="products" class="row">
            <div class="product-sizer"></div>
            {% for specialist in specialists %}
                <div class="product">
                    <div class="card specialist-card hoverable">
                        <input type="hidden" class="user-id" value={{ specialist.user.id }}>
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ url_for('static', filename='img/profile.png') }}"
                                 class="btn-price waves-effect waves-light">
                            <img src="http://goo.gl/hkIcuu" alt="product-img" style="max-height: 150px">
                        </div>
                        <ul class="card-action-buttons stars">
                            <li>
                                <a class="btn-floating waves-effect waves-light blue-grey darken-3">
                                    <i class="material-icons">star</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light blue-grey darken-3">
                                    <i class="material-icons">star</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light blue-grey darken-3">
                                    <i class="material-icons">star</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light blue-grey darken-3">
                                    <i class="material-icons">star_half</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light blue-grey darken-3">
                                    <i class="material-icons">star_border</i>
                                </a>
                            </li>
                        </ul>
                        <ul class="card-action-buttons">
                            <li class="order-service-el">
                                <a class="btn-floating waves-effect waves-light green accent-4 order-service-btn">
                                    <i class="mdi-av-repeat tooltipped" data-position="top" data-delay="50" data-tooltip="Fast order">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="mdi-action-favorite"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light light-blue">
                                    <i class="mdi-action-info activator"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="center"><span class="flow-text profile-trigger cursor specialist-name">{{ specialist.user.full_name()}}</span></div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col m6">
                                    <p><i class="material-icons tiny">location_on</i><strong> {{ specialist.user.location.get_name() }}</strong></p>
                                </div>
                                <div class="col m6">
                                    <p><strong>Experience: {{ specialist.experience.value }}</strong></p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <p class="center">Success jobs: 70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                                <div class="col s6">
                                    <div class="specialist-phone">
                                        <i class="material-icons tiny">contact_phone</i>
                                        <span class="phone" style="display: none"> <strong>{{ specialist.user.phone_number }}</strong></span>
                                        <a class="show-phone"> Show phone</a>
                                    </div>
                                </div>
                                <div class="col s6">
                                    {% if specialist.org %}
                                        <p><strong>Works in <a href="#">{{ specialist.org.name }}</a></strong></p>
                                    {% else %}
                                        <p><strong>{{ specialist.user.first_name }} doesn't work in company.</strong></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
                            {% if specialist.description %}
                                <div class="description">
                                    <p class="center">About {{ specialist.user.first_name }}</p>
                                    <p class="description-text">{{ specialist.description }}</p>
                                    <div class="divider"></div>
                                </div>
                            {% endif %}
                            {% if specialist.services|length > 1 %}
                                <p>Also offer:
                                    {% set services_added = 0 %}
                                    {%  for s in specialist.services %}
                                        {% if s != current_service %}
                                            {% set services_added = services_added + 1 %}
                                            {{ s.title }}

                                            {% if loop.last %}
                                                .
                                            {% elif services_added == 2 %}
                                                and {{ specialist.services|length - 3 }} more.
                                                {% break %}
                                            {% else %}
                                                ,
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}
                                </p>
                                <div class="divider"></div>
                                <p><i class="mdi-social-cake text-darken-2"></i>Age {{ specialist.user.get_age() }}</p>
                                <div class="divider"></div>
                                <p><i class="mdi-communication-email text-darken-2"></i> {{ specialist.user.email }}</p>

                            {% endif %}
                        </div>
                        <div class="order-spec-service-modal"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="pagination center">
            <li class="waves-effect" id="previous_page">
                <a href="{{ url_for('search_specialist', service_id=current_service.id) }}?page={{ current_page - 1 }}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <div class="page-numbers">
            </div>
            <li class="waves-effect" id="next_page">
                <a href="{{ url_for('search_specialist', service_id=current_service.id) }}?page={{ current_page + 1 }}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <p class="flow-text center">Similar services</p>
        {% for service in similar_services %}
            <div class="col m4">
                <div class="card hoverable cursor"
                     onclick="location.href='{{ url_for('search_specialist', service_id=service.id) }}'">
                    <div class="card-content">
                        <div class="card-title center">
                            {{ service.title|capitalize }}
                        </div>
                        <p>{{ service.specialists.all()|length }} specialists offer this service.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "OrderService.html" %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script>
        initSearchPage(
                {{ current_service.id }},
                {{ specialists_count }},
                {{ current_page }});
    </script>
    <script src="{{ url_for('static', filename='js/jquery.geocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/orderService.js') }}"></script>
    <script type="text/javascript">
        /*
         * Masonry container for eCommerce page
         */
        var $containerProducts = $("#products");
        $containerProducts.imagesLoaded(function() {
            $containerProducts.masonry({
                itemSelector: ".product",
                columnWidth: ".product-sizer",
            });
        });
        initOrderServiceModal({{ current_service.id }});
    </script>

{% endblock %}