{% extends "Base.html" %}
{% block title %}
    Add service activity
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        <h1>Specialist</h1><br>
        {{ form.specialist }}<br>
        <h1>Customer</h1><br>
        {{ form.customer }}<br>
        <h1>Service</h1><br>
        {{ form.service }}<br>
        <h1>Description</h1><br>
        {{ form.description }}<br>
        <h1>Start</h1>
        <div class="well">
            <div id="datetimepicker1" class="input-append date">
                {{ form.start }}
                <span class="add-on">
                    select
                </span>
            </div>
        </div>
        <h1>End</h1>
        <div class="well">
            <div id="datetimepicker2" class="input-append date">
                {{ form.end }}
                <span class="add-on">
                    select
                </span>
            </div>
        </div>
        {{ form.custom }}
        <input type="submit" name="submit">
    </form>
    {% if msgs %}
        {{ msgs }}
    {% endif %}
{% endblock %}