<div class="card grey lighten-4">
    <form id="spec_sign_up_form" method="POST">
        {{ spec_form.csrf_token }}
        <div class="card-content grey-text text-darken-1">
            <span class="card-title">Please select services you offer</span>
            <div class="input-field">
                <input type="text" id="sign_up_service_selector" class="typeahead">
                <div id="error_sign_up_service_selector" class="error"></div>
            </div>
            <a id="open_service_modal" class="waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">Cannot find service you offer?</a>
            <div id="selected_services">
            </div>
            <div class="input-field">
                {{ spec_form.phone(id="spec_sign_up_phone") }}
                <label for="spec_sign_up_phone">Select your phone number</label>
                <div id="error_sign_up_phone" class="error"></div>
            </div>
            <div class="input-field">
                {{ spec_form.experience(id="spec_sign_up_experience") }}
                <label for="spec_sign_up_experience">Select your experience</label>
                <div id="error_sign_up_email" class="error"></div>
            </div>
        </div>
        <div class="card-action">
            <a id="spec_sign_up_submit" class="waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">Sign up as specialist</a>
        </div>
    </form>
</div>