{% extends "Base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/user_profile.css') }}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="{% if current_user.is_authenticated %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col s12" id="settings_content">
                {% block settings_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}