{% extends "user/AccountSettings.html" %}

{% block settings_content %}
    {% if active_orders|length > 0 %}
        <ul class="collection">
            <li class="collection-item"><h4 class="center-align">Active</h4></li>
            {% for a in active_orders %}
                {% include "activities/OrdersCollection.html" %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if past_orders|length > 0 %}
        <ul class="collection">
            <li class="collection-item"><h4 class="center-align">Past</h4></li>
            {% for a in past_orders %}
                {% include "activities/OrdersCollection.html" %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if active_orders|length == 0 and past_orders|length == 0 %}
        <div class="card">
            <div class="card-content">
                <p class="flow-text center-align services-title">
                    You haven't any relations yet. You can easily add them.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}