{% extends "user/AccountSettings.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='css/user_services.css') }}" rel="stylesheet">
{% endblock %}

{% block settings_content %}
    <div id="specialist_settings_content">
        <div class="section row">

            <div class="col offset-l3 l6 s12">
                <div class="card" id="search_service_card">
                    <div class="card-content">
                        <h5>Feel free to add services you offer</h5>
                        <div class="input-field">
                            <input type="text" id="add_specialist_services">
                            <label for="add_specialist_services">Select services you offer</label>
                        </div>
                        <div class="row">
                            <div id="selected_services">
                            </div>
                        </div>
                        <button id="search_service_submit"
                                class="add-services-btn waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">
                            Add selected services
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="container row prepend" id="products">
            <div class="product-sizer"></div>
            {% for s in user.specialist.services %}
                <div class="product" id="service_{{ s.id }}">
                    <div class="card random-bg" id="card-stats">
                        <div class="card-content white-text front">
                            <span class="activator"><i class="material-icons right cursor">more_vert</i></span>
                            <span class="card-stats-title">{{ s.title }}</span>
                            <h4 class="card-stats-number">{{ s.activities_count() }}</h4>
                            <p class="card-stats-compare">
                                <span class="green-text text-lighten-5"> times ordered</span>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="grey-text text-darken-4 card-title flow-text"><i class="material-icons right">close</i></span><br>
                            <p class="center-align"> <i class="material-icons cursor red-text" onclick="removeService({{ s.id }})">delete</i> - remove service</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/accountSpecialist.js') }}"></script>
    <script>
        initServiceContent(
                "{{ url_for('add_services_to_specialist') }}",
                "{{ url_for('service_autocomplete') }}"
        );
    </script>
{% endblock %}

{#                      Commented for now. Will be done soon  #}
{#                    <div class="card" id="add_service_card">#}
{#                        <div class="card-content">#}
{#                            <h5>Cannot find your service? Add by yourself.</h5>#}
{#                            <form id="add_service_form" method="POST">#}
{#                                {{ ser_form.csrf_token }}#}
{#                                <div class="input-field">#}
{#                                    {{ ser_form.title(id="service_title") }}#}
{#                                    <label for="service_title">Service name</label>#}
{#                                    <div id="error_service_title" class="error"></div>#}
{#                                </div>#}
{#                                <div class="input-field">#}
{#                                    {{ ser_form.domain(id="service_domain") }}#}
{#                                    <label for="service_domain">Domain of service</label>#}
{#                                    <div id="error_service_domain" class="error"></div>#}
{#                                </div>#}
{#                                <div class="input-field">#}
{#                                    {{ ser_form.description(id="service_description", class="materialize-textarea") }}#}
{#                                    <label for="service_description">Description of service (optional)</label>#}
{#                                    <div id="error_service_description" class="error"></div>#}
{#                                </div>#}
{#                                <a id="service_submit" class="waves-effect waves-light btn btn-def">Create</a>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
