{% extends "user/AccountSettings.html" %}

{% block settings_content %}
    {% set active_offers = user.get_active_offers() %}
    {% set past_offers = user.get_past_offers() %}
    {% if active_offers|length > 0 %}
        <div class="col s12 m12 l6">
            <ul id="task-card" class="collection with-header hoverable">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">Today</h4>
                    <p class="task-card-date">{{ current_time|date }}</p>
                </li>
                {% for activity in active_offers %}
                    {% include "activities/OrdersCollection.html" %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if past_offers|length > 0 %}
        <div class="col s12 m12 l6">
            <ul id="task-card" class="collection with-header hoverable">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">Past</h4>
                </li>
                {% for activity in past_offers %}
                    {% include "activities/OffersCollection.html" %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if active_offers|length == 0 and past_offers|length == 0 %}
        <div class="card">
            <div class="card-content">
                <p class="flow-text center-align services-title">
                    You haven't any relations yet. You can easily add them.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}