{% extends "user/AccountSettings.html" %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='css/user_services.css') }}" rel="stylesheet">
{% endblock %}

{% block settings_content %}
    <div class="create-specialist-card">
        <div class="row">
            <p class="flow-text search-title center">
                First you must sign up as specialist.
            </p>
            <form id="specialist_form" method="POST">
                {{ spec_form.csrf_token }}
                <div class="col offset-l0 l8 s12 offset-m3 m6">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title center">Select category and service in which your are working</div>
                            <div class="row">
                                <div class="col m6">
                                    <div class="input-field">
                                        <input type="text" id="category_selector"
                                               placeholder="Select category"
                                               class="form-input">
                                    </div>
                                </div>
                                <div class="col m6">
                                    <div class="input-field">
                                        <input type="text" id="service_selector"
                                               disabled
                                               placeholder="Select service"
                                               class="form-input">
                                        {{ spec_form.service_id(type="hidden", id="selected_service_id") }}
                                    </div>
                                </div>
                            </div>
                            <div id="error_specialist_service_id" class="error center"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title center">Enter your experience in selected service</div>
                            <div class="input-field">
                                {{ spec_form.experience(id="specialist_experience") }}
                                <label for="specialist_experience">Select your experience</label>
                                <div id="error_specialist_experience" class="error center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title center">Introduce yourself to clients</div>
                            <div class="input-field">
                                {{ spec_form.description(id="specialist_description", class="materialize-textarea", length="5000") }}
                                <label for="specialist_description">Introduce yourself to clients</label>
                                <div id="error_specialist_description" class="error center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title center">Contact to use</div>
                            {% if current_user.main_phone or current_user.extra_phone %}
                                <div class="input-field">
                                    {{ spec_form.phone(id="phone") }}
                                    <label for="specialist_description">+xx(xxx)xxx-xxx</label>
                                    <div id="error_specialist_phone" class="error center"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title center">Select your location. It helps us to find for you customers.</div>
                            <div class="input-field">
                                <input type="text" id="location_autocomplete">
                                <label for="location_autocomplete">Select your location</label>
                            </div>
                        </div>
                    </div>
                    <div id="location_details">
                        {{ spec_form.location.csrf_token }}
                        {{ spec_form.location.country(type="hidden", location_attr='country') }}
                        {{ spec_form.location.street(type="hidden", location_attr='route') }}
                        {{ spec_form.location.building(type="hidden", location_attr='street_number') }}
                        {{ spec_form.location.city(type="hidden", location_attr='locality') }}
                        {{ spec_form.location.state(type="hidden", location_attr='administrative_area_level_1') }}
                        {{ spec_form.location.latitude(type="hidden", location_attr='lat') }}
                        {{ spec_form.location.longitude(type="hidden", location_attr='lng') }}
                    </div>

                    <div class="card-action center">
                        <a href="#" id="specialist_submit" class="waves-effect waves-light btn grey darken-1 grey-text text-lighten-4">Become a specialist</a><br>
                    </div>
                </div>
            </form>
            <div class="col l4 s12 align-right">
                <div class="card">
                    <div class="card-title center"></div>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>We have more than 100500 companies in our system.</h5>
                        </li>
                        <li class="collection-item avatar">
                            <img src="{{ url_for('static', filename='img/apple-logo.png') }}" alt="" class="circle">
                            <span class="title">Apple</span><br>
                            Offers - Web Development, Web Design and 15 more<br>
                            <a>Learn more</a>
                        </li>
                        <li class="collection-item avatar">
                            <img src="{{ url_for('static', filename='img/apple-logo.png') }}" alt="" class="circle">
                            <span class="title">Apple</span><br>
                            Offers - Web Development, Web Design and 15 more<br>
                            <a>Learn more</a>
                        </li>
                        <li class="collection-item avatar">
                            <img src="{{ url_for('static', filename='img/apple-logo.png') }}" alt="" class="circle">
                            <span class="title">Apple</span><br>
                            Offers - Web Development, Web Design and 15 more<br>
                            <a>Learn more</a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-title center">Do you work in a company? <a href="{{ url_for('account_company') }}">Find your company or add it.</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/jquery.geocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/createSpecialist.js') }}"></script>
    <script>
        initSpecCreation(
                "{{ url_for('create_specialist') }}",
                "{{ url_for('category_autocomplete') }}",
                "{{ url_for('service_autocomplete') }}"
        );
    </script>
{% endblock %}
