{% extends "user/AccountSettings.html" %}

{% block title %}{{ user.full_name() }} - Profile{% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='css/datetimepicker.css') }}" rel="stylesheet">
{% endblock %}
{% block settings_content %}
    <div id="profile-page" class="section">
        <!-- profile-page-header -->
        <div id="profile-page-header" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://goo.gl/hkIcuu" alt="user background">
            </div>
            <figure class="card-profile-image">
                <img src="{{ url_for('static', filename='img/profile.png') }}" alt="profile image" class="circle z-depth-2 responsive-img activator">
            </figure>
            <div class="card-content">
                <div class="row">
                    <div class="col s3 offset-s2">
                        <h4 class="card-title grey-text text-darken-4">{{ user.full_name() }}</h4>
                        <p class="medium-small grey-text">
                            {% if user.specialist %}
                                {% set services_added = 0 %}
                                {%  for s in user.specialist.services %}
                                    {% set services_added = services_added + 1 %}
                                    {{ s.title }}

                                    {% if loop.last %}
                                        .
                                    {% elif services_added == 2 %}
                                        and {{ user.specialist.services|length - 2 }} more.
                                        {% break %}
                                    {% else %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </p>
                    </div>
                    <div class="col s2 center-align">
                        {% if user.specialist %}
                            <h4 class="card-title grey-text text-darken-4">{{ user.specialist.experience.value }}</h4>
                            <p class="medium-small grey-text">Work Experience</p>
                        {% else %}
                            <h4 class="card-title grey-text text-darken-4">{{ user.get_orders()|length }}</h4>
                            <p class="medium-small grey-text">Orders</p>
                        {% endif %}
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">10</h4>
                        <p class="medium-small grey-text">Completed Projects</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                        <p class="medium-small grey-text">Busness Profit</p>
                    </div>
                    <div class="col s1 right-align">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right">
                            <i class="mdi-action-perm-identity"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-reveal">

                    <span class="card-title grey-text text-darken-4">{{ user.full_name() }} <i class="mdi-navigation-close right"></i></span>
                    <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
                        Services:
                        {% for s in user.specialist.services %}
                            {{ s.title }}
                            {% if loop.last%}
                                .
                            {% else %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>
                {% if user.get_phone().confirmed %}
                    <p>
                        <i class="material-icons">contact_phone</i>
                        <a href="tel:{{ user.get_phone().number }}"> {{ user.get_phone().number }}</a>
                    </p>
                {% else %}
                    <p>
                        <i class="material-icons">contact_phone</i>
                        User has not added or confirmed a phone number
                    </p>
                {% endif %}
                <p><i class="mdi-communication-email cyan-text text-darken-2"></i> {{ user.email}}</p>
                <p><i class="mdi-social-cake cyan-text text-darken-2"></i>Age {{ user.get_age() }}</p>
                <p>
                    <i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i>
                    Location: {{ user.location.country }},
                    {{ user.location.city }}
                </p>
            </div>
        </div>
        <!--/ profile-page-header -->

        <!-- profile-page-content -->
        <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <div id="profile-page-sidebar" class="col s12 m6 l4">

                <!-- Profile About  -->
                {% if user.specialist %}
                    {% if user.specialist.description %}
                        <div class="card blue-grey darken-3">
                            <div class="card-content white-text">
                                <span class="card-title">About Me!</span>

                                <p>
                                    {{ user.specialist.description }}
                                </p>

                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- Profile About  -->
                <!-- Map Card -->
                {% if user.location %}
                    <div class="map-card">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div id="map-canvas" data-lat="{{ user.location.latitude }}" data-lng="{{ user.location.longitude }}"></div>
                            </div>
                            <div class="card-content">
                                <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                    <i class="mdi-maps-pin-drop"></i>
                                </a>

                                <p class="blog-post-content">Some more information.</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ user.location.country }},
                                    {{ user.location.city }}<i class="mdi-navigation-close right"></i></span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Map Card -->

            </div>


            <div class="col s12 {% if user.specialist %}l6{% endif %}">
                {% if current_user.id == user.id %}
                {% elif user.specialist %}
                    <p class="center-align">
                    {% include "AddServiceActivity.html" %}
                {% endif %}
                {#    {% if activity|length > 0 %}#}
                {#    <p class="flow-text center-align">Activities</p>#}
                {##}
                {#        <ul class="collapsible" data-collapsible="accordion">#}
                {#        {% for a in activity %}#}
                {#            <li>#}
                {#                <div class="collapsible-header">#}
                {#                    {% if user %}#}
                {#                        {% if a.confirmed == true %}#}
                {#                            <div class="chip right" style="background-color: #00c853">#}
                {#                                Confirmed#}
                {#                            </div>#}
                {#                        {% else %}#}
                {#                            <div class="chip right" style="background-color: #d50000">#}
                {#                                Unconfirmed#}
                {#                            </div>#}
                {#                        {% endif %}#}
                {#                        <p class="flow-text">#}
                {#                        Customer : <a href="{{ url_for('user_profile', user_id=a.to_user.id) }}">#}
                {#                        {{ a.to_user.full_name() }}#}
                {#                        </a>#}
                {#                        </p>#}
                {#                    {% else %}#}
                {#                        {% if a.confirmed == true %}#}
                {#                            <div class="chip right" style="background-color: #00c853">#}
                {#                                Confirmed#}
                {#                            </div>#}
                {#                        {% else %}#}
                {#                            <div class="chip right" style="background-color: #d50000">#}
                {#                                Unconfirmed#}
                {#                            </div>#}
                {#                        {% endif %}#}
                {#                        <p class="flow-text">Specialist : <a href="{{ url_for('user_profile', user_id=a.from_user_id) }}">#}
                {#                        {{ a.from_user.full_name() }}#}
                {#                        </a>#}
                {#                        </p>#}
                {#                    {% endif %}#}
                {##}
                {#                </div>#}
                {#                <div class="collapsible-body">#}
                {#                    {% if a.end %}#}
                {#                    <p class="flow-text"><i class="material-icons">event</i> {{ a.start }} ||| {{ a.end }}</p>#}
                {#                    {% else %}#}
                {#                    <p class="flow-text"><i class="material-icons">event</i> {{ a.start }}</p>#}
                {#                    {% endif %}#}
                {#                </div>#}
                {#            </li>#}
                {#        {% endfor %}#}
                {#        </ul>#}
                {#    {% endif %}#}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/addServiceActivity.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mapCard.js') }}"></script>
    <script type="text/javascript">
        initServiceActivity("{{ url_for('add_service_activity', user_id=user.id) }}");
        {% if user.location %}
            initCardMap({{ user.location.latitude }}, {{ user.location.longitude }}, "{{ user.location.get_name() }}")
        {% endif %}
    </script>

{% endblock %}
